:root {
  --header-color-1: rgb(128, 128, 248);
  --header-color-2: rgb(208, 155, 252);
  --background-color: rgb(239, 245, 253);
}

body {
  width: 100%;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  margin: 0;
}
header {
  height: 6vw;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--header-color-1),
    var(--header-color-2)
  );
}
/* #container {
  display: flex;
  flex-direction: column;
} */
h1 {
  margin: 0;
  font-size: 5vw;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
}

#column-1 {
  padding: 0.5vw;
  border: 0.5vw;
  width: 20%;
}
#column-2 {
  width: 80%;
  padding: 0.5vw;
  border: 0.5vw;
}

#user-block {
  margin-bottom: 1vw;
}
input {
  padding: 0.5vw;
  width: 90%;
}
#submit {
  margin-top: 1vw;
}

#previous-searches {
  padding-top: 1vw;
  width: 100%;
  border-top: solid 2px grey;
}

#current-city {
  border: 1px solid black;
  padding: 1vw;
}

.day-box {
  background-color: darkblue;
  color: white;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  width: 15%;
  padding: 1vw;
  border: solid grey 1px;
  margin: 1%;
}
